.sidebar__header {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  flex: 0.3;
  max-height: 90vh;
}
.sidebar__headerRight {
  display: flex;
  align-items: center;
  min-width: 10vw;
}
.sidebar__searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.sidebar__searchContainer input {
  border: none;
  padding: 10px;
  flex: 1;
}

.sidebar__chats {
  max-height: 90vh;
  background-color: white;
  overflow-y: scroll;
}
