.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

}
.login__container > *{
    margin: 15px;
}